Your email address was changed

Hi{{if .Name}} {{.Name}}{{end}},

The email address on your Moniqo account was changed to {{.NewEmail}}. This is the
last message you'll receive at this address.

If you didn't make this change, someone else may have access to your account.
Contact {{.SupportEmail}} right away.

-- Moniqo (https://app.moniqo.in)
